@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

html{
 position:relative;
 min-height: 100vh;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	background:#f3f4f8;
}
.bg-light{
    background:#16222A !important;
}
.navbar-light .navbar-brand{
    font-weight:600;
}
.navbar-light .navbar-brand,.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
   color:#fff !important;
}
.mt_100{
 margin-top:36px;
 border:1px solid #ced4da;
 border-radius:8px;
 background:#fff;
 padding:15px;
 margin-bottom:88px;
}
.p0{
    padding:0px;
}
.add,.add:hover,.add:active,.add:visited{
	border: 1px solid #16222a;
    border-radius: 12px;
    padding: 6px;
    background: #16222a;
    color: #fff;
}
.form-group label:first-child{
   font-weight:600;
}
footer{
 margin-top:36px;
 background:#16222A;
 color:#fff;
 position: absolute;
 bottom: 0;
 width:100%;
}
.bor-top{
 border-top:3px solid #ced4da;
 margin-top: 8px;
 padding-bottom: 18px;
}
.footer-copyright a,.footer-copyright a:hover,.footer-copyright a:active{
    color:#fff;
	font-weight:600;
    text-transform:uppercase;
}

@media only screen and (max-width: 768px) {
	.navbar-brand{
	  white-space:pre-wrap;
	}
}